.background {
    -fx-background-image: url('../images/mainmenu_background.png');
    -fx-background-size: cover;
}

.game-background{
    -fx-background-image: url('../images/BG_Space003.png');
    -fx-background-size: cover;
}

.button-color{
    -fx-background-color: linear-gradient(to left, #F7E803, #F58F00);
    -fx-pref-width: 200px;
    -fx-pref-height: 50px;
    -fx-font-size: 23px;
    -fx-text-fill: #0828a8;
    -fx-font-family: "Britannic Bold";
    -fx-alignment: center;
    -fx-padding: 10px;
    -fx-margin: 50px;
}

.text-field {
    -fx-background-color: transparent;
    -fx-border-color: yellow;
    -fx-border-width: 2px;
    -fx-border-radius: 2px;
    -fx-text-fill: white;
    -fx-font-family: "Britannic Bold";
    -fx-alignment: center;
    -fx-font-size: 18px;
    -fx-pref-width: 200px;
    -fx-pref-height: 50px;
    /*-fx-prompt-text-fill:#3b9dd6;*/
}

.messageLabel{
    -fx-text-fill: #00ffff;
    -fx-font-family: "Britannic Bold";
    -fx-alignment: center;
    -fx-font-size: 14px;
    -fx-pref-width: 400px;
    -fx-pref-height: 50px;
}

.gameOverText {
    -fx-alignment: center;
    -fx-font-size: 60px;
    -fx-pref-width: 50px;
    -fx-pref-height: 50px;
}

.menu-button {
}

.game_over_background {
    -fx-background-image: url('../images/mainmenu_background.png');
    -fx-background-size: cover;
}

.total-score-label {
    -fx-text-fill: #00ffff;
    -fx-font-family: "Britannic Bold";
    -fx-alignment: center;
    -fx-font-size: 14px;
    -fx-pref-width: 200px;
    -fx-pref-height: 50px;
}

.total-score-text {
    -fx-text-fill: white;
    -fx-font-family: "Britannic Bold";
    -fx-alignment: center;
    -fx-font-size: 60px;
    -fx-pref-width: 200px;
    -fx-pref-height: 50px;
}
.text-area {
    -fx-background-radius: 18px;
    -fx-font-family: "Britannic Bold";
    -fx-alignment: center;
    -fx-font-size: 20px;
    -fx-text-fill: #EDEADE;
    -fx-border-color: #EDEADE;
    -fx-border-width: 1px;
    -fx-padding: 18px;
    -fx-text-alignment: justify;
    -fx-letter-spacing: 2px;
    -fx-word-spacing: 10px;
    -fx-background-color: rgba(255, 255, 255, 0.14);
    -fx-border-radius: 12px;
}


.font{
    -fx-fill: #FFD700;
}

.imageButton {
    -fx-background-color: linear-gradient(to left, #F7E803, #F58F00);
    -fx-pref-width: 30px;
    -fx-pref-height: 30px;
    -fx-font-size: 20px;
    -fx-text-fill: #0828a8;
    -fx-font-family: "Britannic Bold";
    -fx-alignment: center;
    -fx-padding: 10px;
    -fx-margin: 50px;
}

.how-to-play {
    -fx-font-family: "Britannic Bold";
    -fx-alignment: center;
    -fx-font-size: 42px;
    -fx-text-fill: linear-gradient(to bottom, #F7E803, #F58F00);
    -fx-text-alignment: justify;
}